body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: 'PTSans', Arial, sans-serif;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: auto;
  width: 1200px;
  text-align: center;
}

.link {
  color: #000000;
}

.header {
  background-color: #ffffff;
}

.header-navigation-list {
  list-style: none;
}

.header-navigation-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #81b3d2;
}

.header-navigation-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro {
  width: 100%;
  height: 800px;

  position: relative;
  background-image: url("../img/background/background-photo-bottom.png"), url("../img/background/background-photo.jpg");
  background-position: left bottom, top left;
  background-repeat: no-repeat, no-repeat; 
  background-size: 100%, 100%;
}

.feauters {
  line-height: 21px;
  background-color: #ffffff;
}

.feauters-text {
  color: #333333;
}

.feauters-list {
  list-style: none;
}

.feauters-item {
  line-height: 21px;
  background-color: #81b3d2;
}

.feauters-item {
  color: #ffffff;
}

.feautures-item-title {
  font-size: 21px;
}

.feauters-item-number,
.feauters-item-text {
  font-weight: 400;
}

.advantages-list {
  list-style: none;
  background-color: #ffffff;
}

.advantages-item {
  color: #000000;
}

.feauters-item-secondary {
  background-color: #eeeeee;
}

.feautures-item-title
.feauters-item-sec-title {
  font-size: 21px;
}

.subscribe {
  background-color: #ffffff;
}
.subscribe-title {
  font-size: 21px;
}

.subscribe-button {
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #604e43;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-search-list {
  list-style: none;
}

.form-search-item {
  font-weight: 700;
}

.date-field{
  background-color: #f2f2f2;
  font-weight: 700;
}

.date-field:hover,
.date-field:focus {
  background-color: #ebebeb;
}

.date-field:active {
  background-color: #e5e5e5;
  border: solid 2px #e5e5e5;
}

.count-field {
  font-weight: 700;
}

.form-search-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.form-search-button:hover,
.form-search-button:focus {
  background-color: #669ec0;
}

.form-search-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  background-color: #C0C0C0;
}

.filter {
  background-image: url("../img/background/filter-background.jpg");
  background-size: 1200px 800px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-repeat: no-repeat;
}

.form-filter-list {
  list-style: none;
}
.form-filter-title,
.form-filter-range-title {
  font-weight: 700;
  font-size: 16px;
}

.form-filter-range-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: inherit;
  border: solid 2px #ffffff;
}

.form-filter-range-button:hover,
.form-filter-range-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  background-color: #ffffff;
}

.sorting-title {
  font-size: 21px;
}
.sorting-text {
  font-size: 12px;
}

.sorting-list {
  list-style: none;
}

.sorting-link {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted;
  border-color: #81b3d2;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #81b3d2;
}

.sorting-link:active {
  border-bottom: none;
  color: #000000;
}

.sorting-button-up,
.sorting-button-down {
  background-color: #cacaca;
}

.sorting-button-up:hover,
.sorting-button-up:focus,
.sorting-button-down:hover,
.sorting-button-down:focus {
  background-color: #000000;
}

.sorting-button-up:active,
.sorting-button-down:active {
  background-color: #81b3d2;
}

.hotels {
  background-color: #ffffff;
}

.hotels-sorting-list {
  list-style: none;
}

.hotels-sorting-item {
  text-align: left;
}

.hotels-item-title {
  font-size: 21px;
  line-height: 26px;
}

.hotels-link-title:hover,
.hotels-link-title:focus {
  color: #81b3d2;
}

.hotels-link-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item-button-first {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotels-item-button-first:hover,
.hotels-item-button-first:focus {
  background-color: #669ec0;
}

.hotels-item-button-first:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-item-button-second {
  color: #ffffff;
  background-color: #766357;
}

.hotels-item-button-second:hover,
.hotels-item-button-second:focus {
  background-color: #604e43;
}

.hotels-item-button-second:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-item-rating {
  background-color: #f2f2f2;
  color: #666666;
}

.footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-phone,
.footer-phone a {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  list-style: none;
  background-color: #81b3d2;
}

.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

